﻿@{
    ViewBag.Title = "e-SL Signing Ceremony";
}
<script>
    function goToCongratulations() {
        window.location.replace(Congratulations);
    }

    function goToInterruptedSigning() {
        window.location.replace(InterruptedSigning);
    }
</script>
    <div align="center">
        <iframe src="@String.Concat("http://sandbox.e-signlive.com/access?sessionToken=", @ViewData["token"])" width="1000" height="700" scrolling="yes"></iframe>
    </div>