﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = ".NET e-SL Application";
}

<h2>Properties</h2>
<p><b>Please fill out the following</b></p>

<form id="properties" class="form-horizontal" role="form" action="/InsuranceForm" method="post">
    <div class="form-group">
        <div class="form-group">
            <label for="API_KEY" class="col-sm-2 control-label">API_KEY</label>
            <div class="col-sm-10">
                <input type="text" class="input-lg form-control search-query" id="API_KEY" name="API_KEY" value='' required>
            </div>
        </div>
        <div class="form-group">
            <label for="BASE_URL" class="col-sm-2 control-label">BASE_URL</label>
            <div class="col-sm-10">
                <input type="text" class="input-lg form-control search-query" id="BASE_URL" name="BASE_URL" value='' required>
            </div>
        </div>
        <div class="form-group">
            <label for="AUTO_SUBMIT_URL" class="col-sm-2 control-label">AUTO_SUBMIT_URL</label>
            <div class="col-sm-10">
                <input type="text" class="input-lg form-control search-query" id="AUTO_SUBMIT_URL" name="AUTO_SUBMIT_URL" value='' required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Go To Insurance Form</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    jQuery('#properties').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            API_KEY: {
                message: 'The e-SL API key is not valid',
                validators: {
                    notEmpty: {
                        message: 'The e-SL API key is required and cannot be empty'
                    },
                    base64: {
                        message: 'The e-SL API key must be valid base64 characters'
                    }
                }
            },
            BASE_URL: {
                message: 'The e-SL API URL is not valid',
                validators: {
                    notEmpty: {
                        message: 'The e-SL API URLL is required and cannot be empty'
                    },
                    uri: {
                        allowLocal: true,
                        message: 'The e-SL API URL must be a valid URL pointing to e-SignLive'
                    }
                }
            },
            AUTO_SUBMIT_URL: {
                validators: {
                    notEmpty: {
                        message: 'The autoSubmitUrl is required and cannot be empty'
                    },
                    uri: {
                        allowLocal: true,
                        message: 'The autoSubmitUrl must be a valid URL pointing to the AutoSubmit page of the application'
                    }
                }
            }
        }
    });

    if (Modernizr.localstorage) {
        $("#properties input[name='API_KEY']").val(localStorage.getItem("API_KEY"));

        var BASE_URL = localStorage.getItem("BASE_URL");
        if (!BASE_URL || BASE_URL === '') {
            $("#properties input[name='BASE_URL']").val("https://sandbox.e-signlive.com/api");
        }
        else {
            $("#properties input[name='BASE_URL']").val(BASE_URL);
        }

        $("#properties input[name='AUTO_SUBMIT_URL']").val(localStorage.getItem("AUTO_SUBMIT_URL"));
    }

    $('#properties').submit(function (event) {
        if (Modernizr.localstorage) {
            var storageEslApiKey = localStorage.getItem("API_KEY");
            var storageEslApiUrl = localStorage.getItem("BASE_URL");
            var storageAutoSubmitUrl = localStorage.getItem("AUTO_SUBMIT_URL");

            var API_KEY = $("#properties input[name='API_KEY']").val();
            var BASE_URL = $("#properties input[name='BASE_URL']").val();
            var AUTO_SUBMIT_URL = $("#properties input[name='AUTO_SUBMIT_URL']").val();

            if (API_KEY != storageEslApiKey) {
                localStorage.setItem("API_KEY", API_KEY);
            }

            if (BASE_URL != storageEslApiUrl) {
                localStorage.setItem("BASE_URL", BASE_URL);
            }

            if (AUTO_SUBMIT_URL != storageAutoSubmitUrl) {
                localStorage.setItem("AUTO_SUBMIT_URL", AUTO_SUBMIT_URL);
            }
        } else {
            // Sorry! No Web Storage support..
        }
    });
</script>